body {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    body {
        width: 750px;
    }
}
@media (min-width: 992px) {
    body {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    body {
        width: 1170px;
    }
}

form {
    background-color: #f7f7f7;
    padding: 1rem;
}

.form-group {
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}
[class^="col-"],
[class*=" col-"] {
    position: relative;
}
.error-text {
    color: red;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0 15px;
    font-size: 0.8rem;
}
.card {
    margin: 0.5rem 0;
}
.card-body {
    padding: 0.5rem;
}
.card-body span.text {
    color: grey;
}
.card-body .badge {
    margin: 0 5px;
}